.ant-picker {
  padding: 8px 12px;
  width: 100%;
}

.ant-layout {
  height: 100%;
}

//FIXME: delete custom style
.ant-select-selector {
  border: none !important;

  &:hover {
    box-shadow: none !important;
    border: none !important;
  }
}