.formWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 400px;
}

.inputWrapper {
  margin: 12px 0;
}

.button {
  width: 100%;
}
